* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
}

/* UTILITY */
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: calc(100% / 2);
}

.w-98 {
  width: 98%;
}

.w-100 {
  width: 100%;
}

/* BUTTONS */
.btn {
  border: 1px solid #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
}

.btn-green {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #7CBB02;
}

.btn-green-big {
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #7CBB02;
}

.btn-help {
  border: none;
  padding: 15px;
  background-color: #7CBB02;
  border-radius: 5px 5px 0 0;
}

/* TYPOGRAPHY */
.fs-30 {
  font-size: 30px;
}

.a-font {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.p-font {
  color: #888888;
  font-size: 18px;
}

/* HEADER */
header {
  background-color: #10375F;
}

nav {
  height: 60px;
  line-height: 60px;
}

nav img.logo {
  vertical-align: middle;
}

nav ul {
  display: inline-block;
  list-style: none;
  height: 60px;
  vertical-align: middle;
  margin-left: 30px;
}

nav ul li {
  display: inline-block;
  padding-top: 7px;
  padding-left: 15px;
}

nav ul li a {
  font-size: 12px;
}

nav ul.right-list {
  float: right;
}

/* HEADER - JUMBO */
header section.jumbo {
  background-image: url('./img/background-header.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

.jumbo .jumbo-text {
  padding-top: 170px;
  padding-bottom: 150px;
}

.jumbo .jumbo-text h2 {
  color: #ffffff;
  font-size: 49px;
}

.jumbo .jumbo-text a {
  display: inline-block;
  margin-top: 20px;
}


/* MAIN - SECTION TITLE-CENTER */
section.title-center, footer {
  background-color: #D3D3D3;
}

section.title-center .column {
  padding: 46px 0;
  text-align: center;
}

section.title-center .column h2 {
  margin-bottom: 10px;
}

section.title-center .column span {
  color: #888888;
}

/* MAIN - SECTION COURSE CHARACTERISTICS */
section.course-characteristics {
  margin: 30px 0;
}

section.course-characteristics .column {
  text-align: center;
  padding: 0 30px;
}
section.course-characteristics .column img {
  height: 150px;
}

section.course-characteristics .column h2 {
  color: #7CBB02;
  margin: 20px 0;
}

section.course-characteristics .column hr {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border:1px solid #888888;
}

section.course-characteristics .column p {
  margin-top: 20px;
}

hr.w-98 {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border: 1px solid #E9E9E9;
}

/* MAIN - SECTION INITIAL-LEVEL */
section.initial-level {
  margin: 30px 0;
}

section.initial-level .column {
  padding: 0 60px;
}

section.initial-level p.placement-test {
  margin: 20px 0;
}

/* FOOTER */
footer .column {
  line-height: 150px;
}

footer .content {
  text-align: center;
}

footer .content span{
  color: #888888;
}

select.select-style {
  border: none;
  border-bottom: 1px solid #888888;
  background-color: #D3D3D3;
  width: 140px;
  color: #888888;
  font-size: 18px;
  margin: 0 20px;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 105%;
  background-position-y: -2px;
}

footer a.btn-help {
  position: fixed;
  bottom: 0;
  right: 250px;
  line-height: 10px;
  z-index: 1;
}
