* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
}

/* UTILITY */
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: calc(100% / 2);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100px;
}

.h-300 {
  height: 300px;
}

.h-420 {
  height: 420px;
}

.content {
  background-color: green;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.btn {
  border: 1px solid #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
}

.btn-green {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #7BBC00;
}

/* HEADER */
header {
  background-color: #10375F;
  height: 500px;
}

nav {
  height: 60px;
  line-height: 60px;
}

nav img.logo {
  vertical-align: middle;
}

nav ul {
  display: inline-block;
  list-style: none;
  height: 60px;
  vertical-align: middle;
  margin-left: 30px;
}

nav ul li {
  display: inline-block;
  padding-top: 7px;
  padding-left: 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav ul.right-list {
  float: right;
}

/* MAIN - SECTION TITLE-CENTER */
section#title-center, footer {
  background-color: #B9C3CF;
}
