* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
}

.column {
  padding: 0 15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
}

/* UTILITY */
.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: calc(100% / 2);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100px;
}

.h-300 {
  height: 300px;
}

.content {
  background-color: green;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.btn {
  border: 1px solid #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
}

.btn-green {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #7BBC00;
}

.btn-green.big {
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #7BBC00;
}

/* HEADER */
header {
  background-color: #10375F;
}

nav {
  height: 60px;
  line-height: 60px;
}

nav img.logo {
  vertical-align: middle;
}

nav ul {
  display: inline-block;
  list-style: none;
  height: 60px;
  vertical-align: middle;
  margin-left: 30px;
}

nav ul li {
  display: inline-block;
  padding-top: 7px;
  padding-left: 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav ul.right-list {
  float: right;
}

/* JUMBO */
header section.jumbo {
  background-image: url('./img/background-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 115% 100%;
  height: 400px;
  margin-top: 100px;
}

.jumbo .column p {
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  padding: 60px 490px 0 0px;
}

.jumbo .column a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}


/* MAIN - SECTION TITLE-CENTER */
section#title-center, footer {
  background-color: #B9C3CF;
}

#title-center .column {
  padding: 30px 0;
  text-align: center;
}

#title-center .column h2 {
  margin-bottom: 10px;
}

#title-center .column span {
  color: #5A5856;
  font-weight: bold;
}
